/* * {
    background-color: rgba(184, 18, 109, 0.31);
    font-family: 'Times New Roman', Times, serif;
} */

body {
    margin: 0;
    font-family: ''Times New Roman', Times, serif';
}

header {
    background-color: #F9ACA7;
    text-align: center;
    padding: 5px;
}

footer {
    text-align: right;
    font-weight: bold;
    padding: 5px;
    margin: 20px;
}

ul {
    padding: 0;
    margin: 50px 20px;
}

ul div {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.metricas {
    width: 200px;
    height: 20px;
    text-align: left;
    font-weight: bold;
    padding: 1em 2em;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5); /* Sombra gris */
    background-color: #A1B5C1;
}

textarea[name="user-input"] {
    background-color: white;
    width: 300px;
    height: 50px;
    padding: 1em 2em;
    margin: 50px auto;
    border-radius: 10px;
    display: block;
    background-color: #EEEDF0;
}

#reset-button {
    font-size: 14px;
    padding: 1em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: chartreuse;
    margin: 50px auto;
    width: 180px;
    display: block;
    background-color: #CF365F;
    transition: background-color 0.3s ease;
}

#reset-button:hover {
    background-color: #d32f2f; 
}